*.*
*/
*
!.gitignore
!include/
!include/cpu
!include/cpu/difftest
!include/device
!include/mem
!include/utils

!src/
!src/cpu
!src/cpu/difftest
!src/device
!src/engine
!src/mem
!src/utils

!*.[ch]
!*.cpp
!*.cc
