*.*
*
*/
!Makefile
!csrc/
!top/
!lib/
!.gitignore
!.scalafmt.conf
!build.sc
!README.md

# !*.mk
# !*.scala
# !*.[cSh]
# !*.v
# !*.cpp
# !*.cc

# mill
# out/
# .bsp/
# .idea/
# .idea_modules/
# test_run_dir/

